/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 166;
  /* Dark Theme */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 49%, 46%);
  --scroll-bar-color: #0a192f;
  --scroll-thumb-color: #495670;
  --body-color: #0a192f;
  --container-color: #FFF;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--h1-font-size);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.section-title, .section-subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  /* max-width: 768px; */
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  border-bottom: none;
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo, .nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium)
}

.nav-logo:hover {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    border: 2px solid var(--first-color);
    border-bottom: none;
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav-close:hover {
  color: var(--first-color-alt);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/* Change background header */
/*==================== HOME ====================*/
.home-container {
  gap: 1rem;
}

.line {
  justify-self: center;
  display: block;
  width: 1px;
  height: 150px;
  background-color: var(--first-color);
}

.home-content {
  grid-template-columns: 0.5fr max-content;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
  transition: 0.2s;
}

.home-social-icon:hover {
  font-size: 1.25rem;
  color: var(--first-color-alt);
  transform: translateY(-0.25rem);
  transition: 0.2s;
}

.blob {
  width: 250px;
  fill: var(--first-color);
}

.blob-img {
  width: 250px;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: var(--big-font-size);
}

.home-subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.home-description {
  margin-bottom: var(--mb-2);
}

/*==================== BUTTONS ====================*/
.button {
  background-color: transparent;
  display: inline-block;
  border: 2px var(--first-color) solid;
  color: var(--first-color);
  padding: 0.68rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color);
  color: #FFF;
  transition: 0.3s;
}

.button i {
  margin: 0 5px;
}

/*==================== ABOUT ====================*/
.image-wrapper {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 240px;
}

.about-image {
  width: 170px;
  border-radius: 0.2rem;
  justify-self: center;
  align-self: center;
  margin: var(--mb-2);
}

.lining {
  z-index: -1;
  top: 41px;
  left: 41px;
  position: absolute;
  border-radius: 0.2rem;
  width: 170px;
  height: 148px;
  border: 2px var(--first-color) solid;
  transition: 0.2s;
}

.about-image:hover+.lining {
  top: 37px;
  left: 37px;
}

.tech-container {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  align-items: center;
  justify-content: center;
}

.tech-list {
  font-size: var(--smaller-font-size);
  white-space: nowrap;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 0;
  margin: 20px 0px;
  overflow: hidden;
}

.tech-list li {
  display: inline-block;
  padding: 0 10px;
  margin: 0 10%;
}

.about-description {
  text-align: center;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.about-button {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills-container {
  row-gap: 0;
  margin-top: 3rem;
}

.skills-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills-list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills-icon {
  margin-right: var(--mb-0-75);
}

.skills-header-title {
  font-size: var(--h3-font-size);
}

.skills-subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills-icon, .skills-arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills-arrow {
  margin-left: auto;
  transition: .4s;
}

.skills-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills-bar {
  background-color: var(--first-color-lighter);
}

.skills-percentage {
  display: block;
  background-color: var(--first-color);
}

.skills-bar, .skills-percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills-closed .skills-list {
  height: 0;
  overflow: hidden;
}

.skills-open .skills-list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills-open .skills-arrow {
  transform: rotate(-180deg);
}

/*==================== Frontend Skills ====================*/
.skills-html {
  width: 90%;
}

.skills-css {
  width: 90%;
}

.skills-js {
  width: 85%;
}

.skills-react {
  width: 80%;
}

.skills-flutter {
  width: 80%;
}

/*==================== Backend Skills ====================*/
.skills-node {
  width: 90%;
}

.skills-mongo {
  width: 90%;
}

.skills-django {
  width: 70%;
}

/*==================== Frontend Skills ====================*/
.skills-git {
  width: 85%;
}

.skills-figma {
  width: 80%;
}

.skills-xd {
  width: 75%;
}

/*==================== Qualifications ====================*/
.qualification-tabs {
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--mb-2);
}

.qualification-content {
  width: 100%;
}

.qualification-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin: 0 5px;
}

.qualification-button:hover {
  color: var(--first-color);
}

.qualification-icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
  cursor: pointer;
  margin: 0 5px;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification-subtitle {
  display: inline-block;
  color: var(--text-color-light);
  margin-bottom: var(--mb-1);
}

.qualification-calendar {
  display: inline-block;
  color: var(--small-font-size);
}

.qualification-rounder {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 9px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification-active {
  display: block;
}

.qualification-inactive {
  display: none;
}

.btn-active {
  color: var(--first-color)
}

/*==================== PORTFOLIO ====================*/
.project-container {
  overflow: initial;
}

.project-content {
  padding: 0 1.5rem;
}

.project-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.project-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.project-description {
  margin-bottom: var(--mb-0-75);
}

.project-icon {
  margin: 0 5px;
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.2s;
}

.project-icon:hover {
  color: var(--first-color-alt);
  transition: 0.2s;
}

.swiper-button-prev {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: var(--first-color);
  left: 0;
}

.swiper-button-next {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  color: var(--first-color);
  right: 0;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*==================== CONTACT ME ====================*/
.contact-container {
  row-gap: 3rem;
}

.contact-content {
  background-color: var(--input-color);
  border-radius: .2rem;
  padding: .25rem 1rem 0.6rem;
}

.contact-label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact-input {
  width: 100%;
  background-color: var(--input-color);
  color: #FFF;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem 0;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer-subtitle {
  font-size: var(--small-font-size);
}

.footer-rights {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color);
  margin-top: var(--mb-3);
}

.footer-title, .footer-subtitle, .footer-link {
  color: #FFF;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.60rem;
  /* background-color: var(--scroll-bar-color); */
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 400px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }

  .blob {
    width: 250px;
  }

  .skills-title {
    font-size: var(--normal-font-size);
  }

  .project-img {
    width: 190px;
  }

  .qualification-data {
    gap: .5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home-data {
    grid-column: initial;
  }

  .home-img {
    order: 1;
    justify-self: center;
  }

  .about-container, .project-content, .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-container {
    padding: 0 100px;
  }

  .contact-container {
    padding: 0 40px;
  }

  .project-img {
    width: 220px;
  }

  .qualification-section {
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768.1px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header, .main, .footer-container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav-icon, .nav-close, .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .home-container {
    row-gap: 5rem;
  }

  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .blob {
    width: 270px;
  }

  .about-image {
    width: 350px;
  }

  .lining {
    top: 41px;
    left: 41px;
    width: 245px;
    height: 215px;
  }

  .about-image:hover+.lining {
    top: 37px;
    left: 37px;
  }

  .about-description {
    text-align: initial;
  }

  .about-info {
    justify-content: space-between;
  }

  .tech-container {
    align-items: initial;
    justify-content: initial;
    display: flex;
  }

  .about-button {
    justify-content: initial;
    margin-left: 30px;
  }

  .qualification-tabs {
    justify-content: center;
  }

  .qualification-button {
    margin: 0 var(--mb-1);
  }

  .qualification-section {
    grid-template-columns: .5fr;
  }

  .project-img {
    width: 280px;
  }

  .project-content {
    align-items: center;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {

  .header,
  .main,
  .footer-container {
    padding: 0 100px;
  }

  .home-container {
    height: 100vh;
  }

  .main {
    padding: 0 200px;
  }

  .blob {
    width: 400px;
  }
}
